/* Roundabout */

.roundabout-loading .roundabout-list { background: #fff url(../img/ajax-loader.gif) center center no-repeat; }
.roundabout-loading .roundabout-track { visibility: hidden; }
.roundabout-slider { position: relative; display: block; }
.roundabout-slider .roundabout-list { overflow: hidden; display: block; margin: 0px; padding: 0px; }
.roundabout-slider .roundabout-track { position: relative; left: 0px; top: 0px; }
.roundabout-slider .roundabout-list .slide { display: block; list-style-type: none; float: left; }
.roundabout-slider .roundabout-list .slide img { display: block; }
.roundabout-slider .roundabout-prev { position: absolute; background: url('../img/sierramist.png') -40px -40px no-repeat; display: block; height: 20px; width: 20px; text-indent: -9999px; top: 50%; margin-top: -27px; left: 10px; padding: 10px; }
.roundabout-slider .roundabout-next { position: absolute; background: url('../img/sierramist.png') -90px -40px no-repeat; display: block; height: 20px; width: 20px; text-indent: -9999px; top: 50%; margin-top: -27px; right: 10px; padding: 10px; }
.roundabout-slider .roundabout-next.disabled { background-position: -90px -90px }
.roundabout-slider .roundabout-prev.disabled { background-position: -40px -90px }
.roundabout-dots { position: relative; bottom: 0px; list-style: none; display: block; text-align: center; padding: 0px; }
.roundabout-dots li { position: relative; display: inline-block; background: url('../img/sierramist.png') -200px -50px no-repeat; height: 5px; width: 5px; text-indent: -9999px; margin: 0px 10px; padding: 0px; }
.roundabout-dots li.active { background-position: -150px -50px }
.roundabout-dots li a { display: block; height: 10px; width: 10px; }
.roundabout-slider img { display: none; }
.sliderInitialized  img { display: block; }



@media only screen and (min-width: 1025px) { 
    .roundabout-slider .roundabout-prev { left: -10px; opacity: 0; transition: opacity .25s, left .25s; -webkit-transition: opacity .25s, left .25s; }
    .roundabout-slider .roundabout-next { right: -10px; opacity: 0; transition: opacity .25s, right .25s; -webkit-transition: opacity .25s, right .25s; }
    .roundabout-slider:hover .roundabout-prev { transition: opacity .25s, left .25s; -webkit-transition: opacity .25s, left .25s; opacity: 1; left: 10px; }
    .roundabout-slider:hover .roundabout-next { transition: opacity .25s, right .25s; -webkit-transition: opacity .25s, right .25s; opacity: 1; right: 10px; }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) { 
    .roundabout-dots li { background: url('../img/sierramist@2x.png') -200px -50px no-repeat; background-size: 900px 200px; }
    .roundabout-slider .roundabout-next { background: url('../img/sierramist@2x.png') -90px -40px no-repeat; background-size: 900px 200px; }
    .roundabout-slider .roundabout-prev { background: url('../img/sierramist@2x.png') -40px -40px no-repeat; background-size: 900px 200px; -webkit-background-size: 900px 200px; }
}